section{
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    width: 1000px;
    height: 300px;
    

}

#imagen2{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    transform: rotate(0deg);
}
body{
    font-family: 'oblique', sans-serif;
    margin: 30px;
    padding: 5%;
    background-color: blanchedalmond;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  height: 50px;
  list-style: none;
  background-color: black;
}

.menu li {
  width: 125px;
  height: 50px;
  text-align: center;

}
a {
    font-size: 15px;
    color: #fffefe;
    transition: all 0.45s;
  }
img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
h1{
    font-size: 30px;
    color: #360404;
}
h1:hover{
    color: #00b7ff;
    transition: all 0.45s;
}
p{
    font-size: 20px;
    color: #3b3535;
}